// Colours
$ebony: hsl(233, 47%, 7%);
$port-gore: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);
$light-violet: hsl(277.3, 93.8%, 61%);
$white: hsl(0, 0%, 100%);
$light-white: hsl(0, 0%, 100%, .75);
$lighter-white: hsl(0, 0%, 100%, .6);

// Font sizes
$fz-xx-large: 2.25rem;
$fz-x-large: 1.75rem;
$fz-large: 1.5rem;
$fz-regular: .93rem;
$fz-small: .75rem;

// Breakpoints
$min: 1024px;
$large: 1100px;

// Other
$radius: 10px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Intel", sans-serif;
    background: $ebony;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
    width: min(85%, 1110px);
    margin: 100px auto;
    color: $white;
    background: $port-gore;
    border-radius: $radius;
    font-size: $fz-regular;
    
    @media(min-width: $min) {
        display: flex;
        min-height: 446px;
    }

    .image-container {
        background: $light-violet;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        @media(min-width: $min) {
            order: 2;
            width: 48%;
            border-top-left-radius: 0;
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        img {
            display: block;
            width: 100%;
            mix-blend-mode: multiply;
            opacity: 0.8;
        }
    }

    .details {
        padding: 2em 2.5em 2em 2em;
        text-align: center;
        
        @media(min-width: $min) {
            display: flex;
            flex-direction: column;
            text-align: left;
            order: 1;
            width: 52%;
            padding: 4.43em 5.93em 3.69em 5.16em;
        }

        &__heading {
            font-size: $fz-x-large;
            margin-bottom: 1em;
            font-weight: 700;

            @media(min-width: $min) {
                font-size: $fz-xx-large;
            }

            .highlight{
                color: $violet;
            }
        }

        &__description {
            color: $light-white;
            margin-bottom: 2.5em;
            line-height: 1.8;
        }

        &__stats {
            @media(min-width: $min) {
                margin-top: auto;
            }

            &__items {
                list-style-type: none;
    
                @media(min-width: $min) {
                    display: flex;
                    justify-content: space-between;
                }
    
                @media(min-width: $large) {
                    justify-content: initial;
                }
    
                &__item {
                    margin-bottom: 1.5em;
                    font-size: $fz-large;
                    font-weight: 700;
    
                    @media(min-width: $min) {
                        margin-bottom: 0;
                    }
                    
                    @media(min-width: $large) {
                        margin-right: 2.75em;
                    }
            
                    &:last-child {
                        margin-bottom: 0;
                        margin-right: 0
                    }
                    
                    .stat-type {
                        display: block;
                        font-size: $fz-small;
                        font-weight: 400;
                        color: $light-white;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-top: .8em;
                    }
                }

            }
        }
    }
}